.img-upload{
  box-sizing: border-box;
  display: inline-block;
  .upload-new{
    float: left;
    display: inline-block;
    margin-right:20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding:0;

    label {
      transition: all 0.5s ease;
      color: rgb(163,39,57);
      border: 2px dotted transparent;
      span{
        font-size: 30px;
      }
      display: block;
      width: 100px;
      height: 100px;
      background-color: rgb(221,221,221);
      font-weight: 800;
      font-size: 15px;
      text-align: center;
      line-height: 30px;
      padding: 20px 0!important; 
    }
    label:hover{
      border: 2px dotted rgb(163,39,57);
    }
  }
  .showImg{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top:10px;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: rgb(221,221,221);
    border: 2px dotted transparent;
    transition: all 0.5s ease;
    img{
      display: inline;
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      height: 90%;
      width: 90%;
      overflow: hidden;
    }
    .deleteImg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      height: 90%;
      width: 90%;
      opacity: 0;
      background-color: #000;
      z-index: 10;
      transition: all 0.5s ease;
      button{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        background-color: transparent;
        border: 0;
        color: #FFF;
        font-weight: 900;
        z-index: 11;
        margin: 0;
        outline:none;
      }
    }
    .deleteImg:hover{
      opacity:0.7
    }
  }

  .showImg:hover{
    border: 2px dotted rgb(163,39,57);
  }


}